<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/media.css">
  </head>
  <body>
      <%- include("./parts/navbar") %> 
      this is test
      <script  src="/js/jquery-2.1.1.min.js"></script>
      <script  src="/js/bootstrap.min.js"></script>
      <script  src="/js/main.js"></script>
  </body>
</html>
